XML Schema/ProcessGLJournalEntry20150701.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ProcessGLJournalEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicationArea">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Sender" use="optional">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LogicalID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="ComponentID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaskID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>	
											</xs:complexType>
										</xs:element>
										<xs:element name="ReferenceID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>	
											</xs:complexType>
										</xs:element>
										<xs:element name="ConfirmationCode">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>	
											</xs:complexType>
										</xs:element>
										<xs:element name="AuthorizationID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>	
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CreationDateTime" type="xs:dateTime" />
							<xs:element name="Signature">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="qualifyingAgencyID" type="xs:string" use="optional" />
										</xs:extension>	
									</xs:simpleContent>	
								</xs:complexType>
							</xs:element>
							<xs:element name="BODID">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="schemeID" type="xs:string" use="optional" />
											<xs:attribute name="schemeName" type="xs:string" use="optional" />
											<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
											<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
											<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
											<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
											<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
											<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
											<xs:attribute name="location" type="xs:string" use="optional" />
											<xs:attribute name="variationID" type="xs:integer" use="optional" />
											<xs:attribute name="lid" type="xs:anyURI" use="optional" />
										</xs:extension>	
									</xs:simpleContent>	
								</xs:complexType>
							</xs:element>
							<xs:element name="UserArea" type="xs:string" use="optional" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataArea">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Process">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TenantID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>	
											</xs:complexType>
										</xs:element>
										<xs:element name="AccountingEntityID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>	
											</xs:complexType>
										</xs:element>
										<xs:element name="LocationID">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="schemeID" type="xs:string" use="optional" />
														<xs:attribute name="schemeName" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyID" type="xs:string" use="optional" />
														<xs:attribute name="schemeAgencyName" type="xs:string" use="optional" />
														<xs:attribute name="schemeVersionID" type="xs:string" use="optional" />
														<xs:attribute name="schemeDataURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="schemeURI" type="xs:unsignedByte" use="optional" />
														<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
														<xs:attribute name="location" type="xs:string" use="optional" />
														<xs:attribute name="variationID" type="xs:integer" use="optional" />
														<xs:attribute name="lid" type="xs:anyURI" use="optional" />
													</xs:extension>	
												</xs:simpleContent>	
											</xs:complexType>
										</xs:element>
										<xs:element name="ActionCriteria" use="optional">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ActionExpression">
														<xs:complexType>
															<xs:attribute name="actionCode" type="xs:string" use="required" />
															<xs:attribute name="expressionLanguage" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
													<xs:element name="ChangeStatus" use="optional">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Code">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="listID" type="xs:string" use="optional" />
																				<xs:attribute name="listAgencyID" type="xs:string" use="optional" />
																				<xs:attribute name="listAgencyName" type="xs:string" use="optional" />
																				<xs:attribute name="listName" type="xs:string" use="optional" />
																				<xs:attribute name="listVersionID" type="xs:string" use="optional" />
																				<xs:attribute name="name" type="xs:string" use="optional" />
																				<xs:attribute name="languageID" type="xs:string" use="optional" />
																				<xs:attribute name="listURI" type="xs:string" use="optional" />
																				<xs:attribute name="listSchemeURI" type="xs:string" use="optional" />
																				<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
																				<xs:attribute name="location" type="xs:string" use="optional" />
																			</xs:extension>	
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Description">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="type" type="xs:string" use="optional" />
																				<xs:attribute name="languageID" type="xs:string" use="optional" />
																			</xs:extension>	
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="EffectiveDateTime" type="xs:string" use="optional" />
																<xs:element name="ReasonCode">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="listID" type="xs:string" use="optional" />
																				<xs:attribute name="listAgencyID" type="xs:string" use="optional" />
																				<xs:attribute name="listAgencyName" type="xs:string" use="optional" />
																				<xs:attribute name="listName" type="xs:string" use="optional" />
																				<xs:attribute name="listVersionID" type="xs:string" use="optional" />
																				<xs:attribute name="name" type="xs:string" use="optional" />
																				<xs:attribute name="languageID" type="xs:string" use="optional" />
																				<xs:attribute name="listURI" type="xs:string" use="optional" />
																				<xs:attribute name="listSchemeURI" type="xs:string" use="optional" />
																				<xs:attribute name="accountingEntity" type="xs:string" use="optional" />
																				<xs:attribute name="location" type="xs:string" use="optional" />
																			</xs:extension>	
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Reason">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="languageID" type="xs:string" use="optional" />
																			</xs:extension>	
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="StateChange" type="xs:string" use="optional">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="FromStateCode">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="listID" type="xs:string" use="optional" />
																							<xs:attribute name="listAgencyID" type="xs:string" use="optional" />
																							<xs:attribute name="listAgencyName" type="xs:string" use="optional" />
																							<xs:attribute name="listName" type="xs:string" use="optional" />
																							<xs:attribute name="listVersionID" type="xs:string" use="optional" />
																							<xs:attribute name="name" type="xs:string" use="optional" />
																							<xs:attribute name="languageID" type="xs:string" use="optional" />
																							<xs:attribute name="listURI" type="xs:string" use="optional" />
																							<xs:attribute name="listSchemeURI" type="xs:string" use="optional" />
																						</xs:extension>	
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="ToStateCode">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="listID" type="xs:string" use="optional" />
																							<xs:attribute name="listAgencyID" type="xs:string" use="optional" />
																							<xs:attribute name="listAgencyName" type="xs:string" use="optional" />
																							<xs:attribute name="listName" type="xs:string" use="optional" />
																							<xs:attribute name="listVersionID" type="xs:string" use="optional" />
																							<xs:attribute name="name" type="xs:string" use="optional" />
																							<xs:attribute name="languageID" type="xs:string" use="optional" />
																							<xs:attribute name="listURI" type="xs:string" use="optional" />
																							<xs:attribute name="listSchemeURI" type="xs:string" use="optional" />
																						</xs:extension>	
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="ChangeDateTime" type="xs:string" use="optional" />
																			<xs:element name="Description">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="type" type="xs:string" use="optional" />
																							<xs:attribute name="languageID" type="xs:string" use="optional" />
																						</xs:extension>	
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Note">
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:string">
																							<xs:attribute name="noteID" type="xs:string" use="optional" />
																							<xs:attribute name="use" type="xs:string" use="optional" />
																							<xs:attribute name="author" type="xs:string" use="optional" />
																							<xs:attribute name="entryDateTime" type="xs:string" use="optional" />
																							<xs:attribute name="status" type="xs:string" use="optional" />
																							<xs:attribute name="type" type="xs:string" use="optional" />
																							<xs:attribute name="languageID" type="xs:string" use="optional" />
																						</xs:extension>	
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="UserArea" type="xs:string" use="optional" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="UserArea" type="xs:string" use="optional" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="acknowledgeCode" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="GLJournalEntry">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GLJournalHeader">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="company" type="xs:unsignedByte" />
													<xs:element name="division" type="xs:unsignedShort" />
													<xs:element name="keyValue" type="xs:unsignedInt" />
													<xs:element name="interface" type="xs:string" />
													<xs:element name="description" type="xs:string" />
													<xs:element name="status" type="xs:unsignedByte" />
													<xs:element name="testIdentity" type="xs:unsignedByte" />
													<xs:element name="changeNumber" type="xs:unsignedByte" />
													<xs:element name="MGLChangeDate" type="xs:unsignedByte" />
													<xs:element name="EntryDate" type="xs:unsignedInt" />
													<xs:element name="RSChangeDate" type="xs:unsignedByte" />
													<xs:element name="RecordStatus" type="xs:string" />
													<xs:element name="Job" type="xs:string" />
													<xs:element name="Program" type="xs:string" />
													<xs:element name="UserAdded" type="xs:string" />
													<xs:element name="ProcessStatus" type="xs:string" />
													<xs:element name="ProcessDate" type="xs:string" />
													<xs:element name="ProcessTime" type="xs:string" />
													<xs:element name="userChanged" type="xs:string" />
													<xs:element name="DateAdded" type="xs:unsignedInt" />
													<xs:element name="TimeAdded" type="xs:unsignedInt" />
													<xs:element name="TimeChanged" type="xs:unsignedByte" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GLJournalDetail" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="company" type="xs:unsignedByte" />
													<xs:element name="division" type="xs:unsignedShort" />
													<xs:element name="keyValue" type="xs:unsignedInt" />
													<xs:element name="lineNumber" type="xs:unsignedByte" />
													<xs:element name="parmValue" type="xs:string" />
													<xs:element name="status" type="xs:unsignedByte" />
													<xs:element name="TextIdentity" type="xs:unsignedByte" />
													<xs:element name="ChangeNumber" type="xs:unsignedByte" />
													<xs:element name="EntryDate" type="xs:unsignedInt" />
													<xs:element name="ChangeDate" type="xs:unsignedByte" />
													<xs:element name="DateChanged" type="xs:unsignedByte" />
													<xs:element name="UserChanged" type="xs:string" />
													<xs:element name="RecordStatus" type="xs:string" />
													<xs:element name="Job" type="xs:string" />
													<xs:element name="UserAdded" type="xs:string" />
													<xs:element name="DateAdded" type="xs:unsignedInt" />
													<xs:element name="TimeAdded" type="xs:unsignedInt" />
													<xs:element name="Program" type="xs:string" />
													<xs:element name="TimeChanged" type="xs:unsignedByte" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="releaseID" type="xs:unsignedByte" use="required" />
			<xs:attribute name="versionID" type="xs:unsignedByte" use="optional" />
			<xs:attribute name="systemEnvironmentCode" type="xs:string" use="optional" />
			<xs:attribute name="languageCode" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>